#dropZone, #furniture {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-height: 200px;
    margin-bottom: 20px;
}

#dropBox1, #dropBox2, #dropBox3, #dropBox4 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: 1px solid #aaaaaa;
    padding: 1rem;
    background-color: #f0f0f0;
}

img {
    height: 100px;
    object-fit: cover;
    width: 100px;
    margin: 5px;
}

button {
    display: block;
    margin-top: 20px;
}