/* styles.css */
#taskList {
    list-style: none;
    padding: 0;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}

.list-group-item .btn-group {
    margin-right: 10px;
}

.completed {
    background-color: #c0e7a0;
}

.completed span {
    text-decoration: line-through;
    color: #555;
}

.btn-primary, .btn-danger, .btn-success {
    margin: 0;
    padding: 5px 10px;
    transition: background-color 0.2s ease;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-success {
    background-color: #28a745;
    border: none;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
}

.input-group {
    margin-bottom: 20px;
}

.input-group-append {
    position: relative;
    top: -1px;
}

/* Optional: Add a box shadow to the buttons on hover for a more interactive effect */
.btn-primary:hover, .btn-danger:hover, .btn-success:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}





.text-danger {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.error {
    opacity: 1;
}
